*.[oa]
*.la
*.lo
.*
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
denise.pc
denise/Makefile
denise/Makefile.in
src/denise
depcomp
install-sh
libtool
ltmain.sh
missing
